@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --reserve-text-color: #ffffff;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --card-set-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--primary-font-family);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font-family);
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-color {
  color: var(--accent-text-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: var(--accent-text-color);
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: var(--accent-text-color);
}

.menu-container {
  background-color: #ffffff;
}

.nav-list-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 18;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-text-color);
}

.current {
  color: var(--accent-text-color);
}

.current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.contact-item-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item-link:hover, .contact-item-link:focus {
  color: var(--accent-text-color);
}

.contact-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ccontact-item-link:hover .contact-icon,
.contact-item-link:focus .contact-icon {
  fill: var(--accent-text-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    position: relative;
  }
  .nav {
    justify-content: space-between;
  }
  .nav .logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu-container {
    display: none;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 480px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-container.is-open {
    display: block;
    border-top: 1px solid #ececec;
  }
  .nav-list-wrapper {
    margin-bottom: 60px;
    text-align: center;
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .current {
    padding-bottom: 12px;
  }
  .contact-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .contact-item-link {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .nav .logo {
    margin-right: 88px;
  }
  .nav-list {
    display: flex;
  }
  .contacts-wrapper {
    margin-left: auto;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
  .contact-item-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
  }
  .contact-icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav .logo {
    margin-right: 93px;
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .contact-item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--reserve-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_tablet-1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_desk-1x.jpg);
  }
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_desk-2x.jpg);
  }
}

.button-order {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--reserve-text-color);
  background-color: var(--accent-text-color);
}

.features {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

.item-head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-align: center;
}

.item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.item-icon-box {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

.item-icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .item {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
  .item-head {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .item {
    min-width: 270px;
  }
  .item:not(:last-child) {
    margin-right: 30px;
  }
  .item-head {
    text-align: left;
  }
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .work-list {
    display: flex;
    justify-content: space-between;
  }
  .work-head {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .work-item {
    position: relative;
  }
  .work-item-title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--reserve-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transform: translateY(0);
  }
}

.team {
  background: #f5f4fa;
}

.team-head {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .team-head {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-item {
  padding-bottom: 24px;
  background-color: var(--reserve-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-item-info {
  margin-top: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-text-color);
  color: var(--reserve-text-color);
}

.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: currentColor;
}

.social-list-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .team-item {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
  .team-photo {
    width: 354px;
    height: 374pxx;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    justify-content: space-between;
  }
  .team-item {
    padding-bottom: 30px;
  }
  .team-photo {
    width: 270px;
    height: 260px;
  }
}

.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients-logo {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .clients-list-item {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .clients-list-item {
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    align-items: flex-start;
  }
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .clients-link {
    width: 170px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 700ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--reserve-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  fill: currentColor;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover, .modal-btn-close:focus {
  color: var(--accent-text-color);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field.comment {
  margin-bottom: 20px;
}

.field-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.field-input {
  min-width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.field-input:focus + .icon-input {
  fill: var(--accent-text-color);
}

.textarea {
  height: 120px;
  padding: 12px 16px;
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.icon-input {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: 212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check {
  margin-bottom: 30px;
}

.check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.check-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-label::before {
  background-color: var(--accent-text-color);
  background-image: url(../images/logo-checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: transparent;
}

.policy-link {
  text-decoration: underline;
  color: var(--accent-text-color);
  margin-left: 5px;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
  .check-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.send-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--reserve-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  text-align: center;
}

.logo-white {
  color: var(--reserve-text-color);
}

.main-contacts-list {
  margin-top: 20px;
}

.main-contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.main-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.main-contacts-link.map {
  color: var(--reserve-text-color);
}

/* =====Футер соцсети======= */
.join {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--reserve-text-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--reserve-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.social-logo {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer .container {
    display: flex;
    justify-self: start;
    align-items: baseline;
  }
  .footer-contacts {
    width: 231px;
  }
  .main-contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social {
    margin-left: 70px;
  }
}

.subs-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--reserve-text-color);
}

.subs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--reserve-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

.subs-input {
  margin-bottom: 20px;
  padding: 15px 16px;
  min-width: 100%;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subs-input:focus {
  outline: 1px solid var(--accent-text-color);
}

.subs-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .subscription-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subs-input {
    min-width: 450px;
  }
  .subscription-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: block;
    margin-left: 93px;
    width: 570px;
  }
  .subscription {
    display: flex;
  }
  .subs-input {
    margin-bottom: 0;
    margin-right: 12px;
    min-width: 358px;
  }
}
/*# sourceMappingURL=main.css.map */