// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background: #2f303a;
// }
// .footer-contacts {
//   width: 231px;
// }
// .footer {
//   .container {
//     display: flex;
//     justify-self: start;
//     align-items: baseline;
//   }
// }
// .logo-white {
//   color: var(--reserve-text-color);
// }
// .main-contacts-list {
//   margin-top: 20px;
// }
// .main-contacts-item:not(:last-child) {
//   margin-bottom: 9px;
// }
// .main-contacts-link {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);
// }
// .main-contacts-link.map {
//   color: var(--reserve-text-color);
// }
// /* =====Футер соцсети======= */
// .footer-social {
//   margin-left: 70px;
// }
// .join {
//   display: inline-block;
//   margin-bottom: 20px;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--reserve-text-color);
// }
// .footer-social-list {
//   display: flex;
//   justify-content: space-between;
//   width: 206px;
// }
// .footer-social-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   background-color: rgba(255, 255, 255, 0.1);
//   color: var(--reserve-text-color);
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     background-color: var(--accent-text-color);
//   }
// }
// .social-logo {
//   fill: currentColor;
// }
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  text-align: center;
}
.logo-white {
  color: var(--reserve-text-color);
}
.main-contacts-list {
  margin-top: 20px;
}
.main-contacts-item:not(:last-child) {
  margin-bottom: 8px;
}
.main-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.main-contacts-link.map {
  color: var(--reserve-text-color);
}
/* =====Футер соцсети======= */

.join {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--reserve-text-color);
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--reserve-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.social-logo {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-contacts {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer .container {
    display: flex;
    justify-self: start;
    align-items: baseline;
  }
  .footer-contacts {
    width: 231px;
  }
  .main-contacts-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social {
    margin-left: 70px;
  }
}
