.subscription-form {
  display: block;
  margin-left: 93px;
  width: 570px;
}
.subs-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--reserve-text-color);
}
.subs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  margin-left: 12px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--reserve-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
.subscription {
  display: flex;
}
.subs-input {
  padding: 15px 16px;
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: 1px solid var(--accent-text-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
