.hero {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--reserve-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero_tablet-1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero_tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero_desk-1x.jpg);
  }
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero_desk-2x.jpg);
  }
}
.button-order {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--reserve-text-color);
  background-color: var(--accent-text-color);
}
